extends common/layout

include common/mixins

mixin name()
  p

block vars
  - var title = "Kompetenzcenter" //120 символов
  // - var bodyClass = "wrap_this_page"

block content
  include header/header
  include stellen/stellen
  include contacts-map/contacts-map
  include newsletter/newsletter
  include footer/footer