extends common/layout

include common/mixins

mixin name()
    p

block vars
    - var title = "Kompetenzcenter" //120 символов
    // - var bodyClass = "wrap_this_page"

block content
    include header/header
    include slider/slider
    include kompetenzen/kompetenzen
    include vereinbaren/vereinbaren
    include furwen/furwen
    include wieman/wieman
    include warum/warum
    include slider-mainpage-2/slider-mainpage-2
    include unser/unser
    include newsletter/newsletter
    include footer/footer