extends common/layout

include common/mixins

mixin name()
    p

block vars
    - var title = "Kompetenzcenter" //120 символов
    // - var bodyClass = "wrap_this_page"

block content
    include header/header
    include product/product
    include product/product-item
    include vereinbaren/vereinbaren
    include product/product-item
    include unser/unser
    include product/product-item
    include product/stellen
    include footer/footer