header
  .header__boorger
    display: none
    @media (max-width: 767px)
      display: block
  #header-burger
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    //height: 100vh
    //width: 100vw
    background-color: rgba(255,255,255,.85)
    overflow: auto
    display: block
    transition: all .4s
    padding: 90px 0
    text-align: center
    margin-right: 20px
    z-index: 10
    overflow-y: scroll
    //.inside-burger
    //  overflow: scroll
    @media (min-width: 767px)
      display: none!important
    ul
      margin: 0 0 90px 0
      padding: 0
      list-style: none
      width: 100%
      a
        display: block
        text-decoration: none
        color: $text
        font-size: 20px
        font-family: pantonsemibold, sans-serif
        line-height: 40px
        border: 1px solid transparent
        transition: all .4s
        &:hover
          color: $main-yellow
          border-bottom: 1px solid $main-yellow
  .hidden
    display: none!important
  .visuallyhidden
    opacity: 0
  .burger
    z-index: 11
    span
      background: linear-gradient(to top, rgba(13, 98, 187, 0.83) 0%, rgba(56, 158, 217, 0.83) 100%)
      &:before
        background: linear-gradient(to top, rgba(13, 98, 187, 0.83) 0%, rgba(56, 158, 217, 0.83) 100%)
      &:after
        background: linear-gradient(to top, rgba(13, 98, 187, 0.83) 0%, rgba(56, 158, 217, 0.83) 100%)
  .burger--close > span
    background: none
  .header__contacts
    margin-top: 25px
    margin-bottom: 25px
    display: flex
    justify-content: space-between
    align-items: center
    font-family: pantonsemibold, sans-serif
    font-size: 16px
    .header__logo
      img
        height: 40px
        width: 300px
        @media (max-width: 400px)
          width: 200px
    .header__phones
      @media (max-width: 1199px)
        flex-basis: 35%
        margin-left: 40px
      @media (max-width: 1023px)
        margin-left: 60px
      @media (max-width: 767px)
        display: none
      a:first-of-type
        margin-bottom: 5px
        &:before
          content: url("../img/mob-phone.svg")
          height: 13px
          width: 13px
          margin-right: 5px
      a:last-of-type
        &:before
          content: url("../img/phone-stat.svg")
          height: 13px
          width: 13px
          margin-right: 5px
    .header__mail-place
      display: flex
      @media (max-width: 1199px)
        flex-wrap: wrap
        justify-content: flex-start
        @media (max-width: 1023px)
          display: none
      a:first-of-type
        margin-right: 50px
        @media (max-width: 1199px)
          margin-bottom: 5px
        &:before
          content: url("../img/email-icon.svg")
          height: 13px
          width: 13px
          margin-right: 5px
      a:last-of-type
        &:before
          content: url("../img/place.svg")
          height: 13px
          width: 13px
          margin-right: 5px
    .header__link-to-calendar
      font-size: 18px
      font-family: panton, sans-serif
      @media (max-width: 767px)
        display: none!important
      a
        width: 160px
        height: 40px
        text-align: center
        line-height: 40px
        border: 2px solid #fe6935
        color: #ffffff
        border-radius: 50px
        //padding: 15px 20px
        background: linear-gradient(to top, #fe6732 0%, #fb8050 100%)
        transition: all .4s
        &:hover
          background: #FFFFFF
          color: #fe6935
    a
      display: block
      text-decoration: none
      color: #3e3e3e

  nav
    background: linear-gradient(to top, rgba(13, 98, 187, 0.83) 0%, rgba(56, 158, 217, 0.83) 100%)
    border-radius: 50px
    box-sizing: border-box
    @media (max-width: 767px)
      display: none