include ../../standart_blocks/burger/burger
header
  .container
    .header__contacts
      .header__logo
        a(href="index.html")
          img(src="img/main-logo.svg")
      .header__phones
        a(href="tel:+4917681401811").header__phones-mobile +49(176) 81401811
        a(href="tel:022199375545").header__phones-stat 0221 99375545
      .header__mail-place
        a(href="mailto:kc-nordrhein.de?subject=mail from web site").header__mail kc-nordrhein.de
        a(href="https://goo.gl/maps/YEbkVV7BadJ2" target='_blank').header__place Koblenzer Straße 88, 50968 Köln
      .header__link-to-calendar
        a(href="#tocalendar") Termin Sichern
        //TODO переход по ссылке настроить
      .header__boorger
        //h2#burger-code Burger
        i.fas.fa-euro-sign.fa-5x
        +burger('burger1', 'header-burger', 'burger-shown')
  #header-burger.hidden.visuallyhidden
    ul
      li
        a(href="/#wieman") Wie funktioniert es
      li
        a(href="product.html") Dienstleistungen
      li
        a(href="#") Bewertungen
      li
        a(href="#") Über uns
      li
        a(href="contacts.html") Kontakt

  include ../nav/nav