section.contacts-map
  display: flex
  justify-content: space-between
  margin-top: 70px
  @media (max-width: 1023px)
    flex-direction: column
    margin-top: 50px
  .contacts-map__contacts
    @media (max-width: 1023px)
      order: 2
      text-align: center
    h3
      margin: 0 0 40px 0
      font-family: pantonbold
      font-size: 28px
      text-align: left
      @media (max-width: 1023px)
        display: none
    img
      height: 16px
      width: 15px
    img.email
      height: 10px!important
    a
      display: inline-block
      font-family: pantonsemibold
      font-size: 25px
      line-height: 50px
      color: $text
      padding-left: 15px
      text-decoration: none
      transition: all .4s
      &:hover
          color: $main-yellow!important
    .contacts-map__contact:first-of-type
      @media (max-width: 1023px)
        margin-top: 10px

  .contacts-map__map
    border-radius: 15px
    overflow: hidden
    border: 1px solid #136fc8
    #map
      height: 340px
      width: 790px
      @media (max-width: 1199px)
        width: 700px
      @media (max-width: 1023px)
        width: 100%