section.contacts-map.container
  .contacts-map__contacts
    h3 Kontakt
    .contacts-map__contact
      img(src="img/icons/grey-phone.png", alt="+49(176) 81401811")
      a(href="tel:+4917681401811") +49(176) 81401811
    .contacts-map__contact
      img(src="img/icons/grey-email.png", alt="kc-nordrhein.de").email
      a(href="mailto:kc-nordrhein.de?subject=mail from web site") kc-nordrhein.de
    .contacts-map__contact
      img(src="img/icons/grey-skype.png", alt="kc-nordrhein.de")
      a(href="skype:+4917681401811") +49(176) 81401811
    .contacts-map__contact
      img(src="img/icons/grey-whatsapp.png", alt="kc-nordrhein.de")
      a(href="whatsapp://send?phone=+4922199379931") +49(221) 99379931

  .contacts-map__map
    #map