section.main-page-wieman#wieman
  .container
    h3 Wie man die <span>Zusammenarbeit beginnt</span>
    .main-page-wiman__items-wrapper
      .main-page-wieman__item
        .main-page-wieman__img-header
          img(src="https://loremflickr.com/130/130/all?random=1", alt="Heading 1")
        h6 Heading 1
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
      .main-page-wieman__item
        .main-page-wieman__img-header
          img(src="https://loremflickr.com/130/130/all?random=2", alt="Heading 2")
        h6 Heading 2
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreetLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
      .main-page-wieman__item
        .main-page-wieman__img-header
          img(src="https://loremflickr.com/130/130/all?random=3", alt="Heading 3")
        h6 Heading 3
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
      .main-page-wieman__item
        .main-page-wieman__img-header
          img(src="https://loremflickr.com/130/130/all?random=4", alt="Heading 4")
        h6 Heading 4
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
    a(href="#beratungs").btn Beratung