section.main-page-wieman
  background-color: $lightblue-background
  padding: 80px 0
  @media (max-width: 767px)
    padding: 50px 0
  h3
    margin-top: 0
  .main-page-wiman__items-wrapper
    display: flex
    text-align: center
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 30px
    @media (max-width: 767px)
      margin-bottom: 0
    .main-page-wieman__item
      flex-grow: 1
      margin-bottom: 40px
      position: relative
      &:before
        content: url('../img/icons/main-page-stroke.png')
        position: absolute
        right: 0
        top: 50px
        height: 22px
        width: 13px
        @media (max-width: 1023px)
          right: -7px
        @media (max-width: 767px)
          content: ''
      &:last-of-type
        &:before
          content: ''
      @media (max-width: 767px)
        margin-bottom: 25px
      .main-page-wieman__img-header
        height: 130px
        width: 130px
        border-radius: 50%
        overflow: hidden
        position: relative
        margin-left: auto
        margin-right: auto
        img
          position: absolute
          max-width: 100%
          max-height: 100%
          margin: auto
          top: 0
          bottom: 0
          left: 0
          right: 0
      h6
        font-family: pantonsemibold
        font-size: 24px
        line-height: 24px
        margin-top: 30px
        margin-bottom: 20px
        @media (max-width: 767px)
          font-size: 22px
          margin: 20px
          margin-bottom: 10px
      p
        font-size: 15px
        line-height: 24px
        font-family: pantonsemibold
        max-width: 190px
        margin-left: auto
        margin-right: auto
        margin-top: 20px
        margin-bottom: 0


