section.product-page__product-items-wrapper
  .product-page__grey-wrapper:nth-child(2n)
    background-color: $lightblue-background
  .product-page__product-item
    padding: 80px 0 80px
    display: flex
    justify-content: space-between
    align-items: center
    // &:after
    //   content: ''
    //   display: block
    //   clear: both
    @media (max-width: 767px)
      padding: 50px 0 50px
    @media (max-width: 575px)
      flex-direction: column
    .product-page__product-item-img
      width: 330px
      height: 300px
      overflow: hidden
      position: relative
      //display: inline-block
      border-radius: 15px
      @media (max-width: 767px)
        width: 170px
        height: 140px
      img
        position: absolute
        max-width: 100%
        max-height: 100%
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        border-radius: 15px
        //float: left
    .product-page__product-text-wrapper
      //display: inline-block
      width: 70%
      @media (max-width: 1199px)
        width: 60%
      @media (max-width: 1023px)
        width: 50%
      @media (max-width: 767px)
        width: 70%
      @media (max-width: 575px)
        width: 100%
      h6
        font-family: pantonbold, sans-serif
        font-size: 24px
        margin-top: 0
        margin-bottom: 30px
        @media (max-width: 767px)
          font-size: 18px
        @media (max-width: 575px)
          text-align: center
          margin-top: 30px
      p
        font-family: pantonsemibold, sans-serif
        font-size: 16px
        line-height: 30px
        margin-top: 0
        margin-bottom: 30px
        @media (max-width: 767px)
          font-size: 14px
          line-height: 18px
          margin-bottom: 20px
        @media (max-width: 575px)
          text-align: center
      .btn
        width: 120px
        display: inline-block
        font-size: 18px
        @media (max-width: 575px)
          display: block
