section.product-page.container
  h1 Versicherungen
  .product-page__product-mainpart-wrapper
    .product-page__product-mainpart-img
    .product-page__product-mainpart-txt
      ul
        li Betriebshaftpflichversicherung
        li Rechtsschutz
        li Berufsunfähigkeitsversicherung
        li Private Krankenversicherung
        li Alterversorge
        li Sachversicherungen aller Art
