section.product-page
  h1
    font-family: pantonbold
    font-size: 28px
    color: $dark-blue-text
    text-align: center
    margin-top: 70px
    margin-bottom: 60px
    @media (max-width: 767px)
      font-size: 24px
      margin-top: 40px
      margin-bottom: 20px
  .product-page__product-mainpart-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: 767px)
      flex-direction: column
    .product-page__product-mainpart-img
      background: url(../img/product-main.png) no-repeat
      background-size: 100% auto
      background-position: center
      height: 300px
      width: 750px
      overflow: hidden
      border-radius: 15px
      @media (max-width: 1023px)
        height: 200px
      @media (max-width: 767px)
        width: 100%
        height: 110px
    .product-page__product-mainpart-txt
      flex-grow: 1
      color: $dark-blue-text
      font-family: pantonsemibold
      font-size: 18px
      @media (max-width: 767px)
        font-size: 16px
      ul
        padding-left: 55px
        @media (max-width: 767px)
          padding-left: 0
        li
          margin-bottom: 30px
          padding-left: 30px
          list-style: none
          background-image: url(../img/icons/red-ok.png)
          background-size: 21px 20px
          background-repeat: no-repeat
          background-position: left
          @media (max-width: 767px)
            background-size: 17px 16px
            margin-bottom: 15px