mixin product-item(img, h6, p)
  .product-page__grey-wrapper
    .container
      .product-page__product-item
        .product-page__product-item-img
          img(src= img alt="product-img")
        .product-page__product-text-wrapper
          h6= h6
          p= p
          .btn Beratung
  //- .product-page__grey-wrapper
  //-   .container
  //-     .product-page__product-item
  //-       p.product-page__product-item-img
  //-         img(src= img alt="product-img")
  //-         h6= h6
  //-         span= p
  //-         .btn Beratung


section.product-page__product-items-wrapper
  +product-item('https://loremflickr.com/330/300/all?random=1', 'Betriebshaftpflichversicherung', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur sapien nunc eget.')
  +product-item('https://loremflickr.com/330/300/all?random=4', 'Betriebshaftpflichversicherung', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur sapien nunc eget.')
  +product-item('https://loremflickr.com/330/300/all?random=3', 'Betriebshaftpflichversicherung', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur sapien nunc eget.')
  +product-item('https://loremflickr.com/330/300/all?random=2', 'Betriebshaftpflichversicherung', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur sapien nunc eget.')

