section.product-page__stellen
  .main-page-newsletter__sircle
  .container
    h4 Stellen Sie uns Ihre Fragen
    .product-page__stellen-content
      .contacts-page__form-block
        form
          input(type="email" placeholder="Email").white-input
          textarea(placeholder='Deine Frage').white-input
          button.btn Eine Frage stellen
