section.product-page__stellen
  position: relative
  overflow: hidden
  padding-top: 143px
  @media (max-width: 767px)
    padding-top: 110px
  h4
    font-size: 28px
    text-align: center
    font-family: pantonbold, sans-serif
    color: #ffffff
    margin-top: 0
    margin-bottom: 90px
    @media (max-width: 1023px)
      margin-bottom: 40px
    @media (max-width: 767px)
      font-size: 24px
      margin-bottom: 20px
  .main-page-newsletter__sircle
  .product-page__stellen-content
    padding: 0 70px
    @media (max-width: 1023px)
      flex-wrap: wrap
    @media (max-width: 767px)
      padding: 0 30px
    @media (max-width: 400px)
      padding: 0 10px
  .contacts-page__form-block
    form
      margin-bottom: 20px
      input[type="email"],
      textarea
        background-color: #68b9e2
        border: 2px solid #ffffff
        color: #ffffff
        &::-webkit-input-placeholder
          color: #ffffff!important
          @media (max-width: 767px)
            text-align: center
        &::-moz-placeholder
          color: #ffffff!important
          @media (max-width: 767px)
            text-align: center
      .btn
        bottom: 45px
        margin-left: 55px
        @media (max-width: 1199px)
          margin-left: 18px
        @media (max-width: 1023px)
          position: static
          margin-left: auto
          margin-bottom: 30px

