section.main-page-slider-2
  height: 420px
  background: url('../img/slider.jpg') no-repeat top
  color: $main-yellow
  margin-top: 40px
  margin-bottom: 70px
  text-align: center
  border-radius: 25px
  //line-height: 420px
  margin-left: 18px
  margin-right: 18px
  margin-left: auto
  margin-right: auto
  @media (max-width: 767px)
    margin-top: 20px
    margin-bottom: 40px
  h1
    text-transform: uppercase