section.main-page-newsletter
  padding-top: 143px
  position: relative
  overflow: hidden
  @media (max-width: 767px)
    padding-top: 110px
  h4
    font-size: 28px
    text-align: center
    font-family: pantonbold, sans-serif
    color: #ffffff
    margin-top: 0
    margin-bottom: 90px
    @media (max-width: 1023px)
      margin-bottom: 40px
    @media (max-width: 767px)
      font-size: 24px
      margin-bottom: 10px
  .main-page-newsletter__content
    display: flex
    justify-content: space-between
    padding: 0 70px
    @media (max-width: 1023px)
      flex-wrap: wrap
    @media (max-width: 767px)
      padding: 0 30px
    @media (max-width: 400px)
      padding: 0 10px
    p
      width: 50%
      color: #ffffff
      font-family: pantonsemibold
      line-height: 30px
      margin-bottom: 40px
      @media (max-width: 1023px)
        width: 100%
      @media (max-width: 767px)
        text-align: center
        font-size: 14px
        margin-bottom: 30px!important
    .main-page-newsletter__form
      width: 50%
      margin-bottom: 40px
      @media (max-width: 1023px)
        width: 100%
      label
        display: block
        color: #ffffff
        margin-left: 43%
        margin-top: 20px
    form
      .btn
        height: 50px
        width: 375px
        @media (max-width: 767px)
          width: 100%
          font-size: 16px
      input
        @media (max-width: 767px)
          width: 100%
          font-size: 16px
      span
        @media (max-width: 767px)
          font-size: 16px


