section.main-page-newsletter
  .main-page-newsletter__sircle
  .container
    h4 Newsletter
    .main-page-newsletter__content
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
      .main-page-newsletter__form
        form(action="")
          input(type="text" placeholder="Email")
          button(type="submit").btn Subscribe
          label
            input(type="checkbox").checkbox
            span.checkbox-custom
            span.label AGB



