section.main-page-warum
  h3
    margin-top: 80px
    margin-bottom: 80px
    @media (max-width: 767px)
      margin-top: 40px
      margin-bottom: 25px
  .main-page__video-wrapper
    position: relative
    cursor: pointer
    height: 420px
    overflow: hidden
    margin-bottom: 80px
    border-radius: 25px
    position: relative
    @media (max-width: 767px)
      margin-bottom: 60px
      height: 320px
    @media (max-width: 576px)
      height: 250px
    @media (max-width: 500px)
      height: 200px
    @media (max-width: 400px)
      height: 150px
    iframe,
    img.tr-caption-container
      width: 100%
      height: 420px
      @media (max-width: 576px)
        height: 300px
      @media (max-width: 400px)
        height: 200px
    img.tr-caption-container
      height: auto!important
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto
    img.tr-caption-container + iframe
      position: fixed
      z-index: 11
      top: 0
      left: 0
      width: 100%
      height: 100%
      -moz-box-sizing: border-box; box-sizing: border-box
      border: solid rgba(0,0,0,.3)
      border-width: 5vh 5vw
    img.play-button
      position: absolute
      left: 50%
      transform: translate(-50%, -50%)
      top: 50%