section.main-page-warum.container
  h3  Warum sollte der Arzt von uns beraten lassen?
  //- <iframe width="560" height="315" src="https://www.youtube.com/embed/zBHa1FQUd8M?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  .main-page__video-wrapper
    img(title="PLAY" alt="video" src="http://img.youtube.com/vi/AMRjZ6kocbg/maxresdefault.jpg").tr-caption-container
    img(src="img/icons/play.png", alt="play").play-button