//@font-face
//  font-family: 'Roboto'
//  font-style: normal
//  font-weight: 400
//  src: url('../fonts/RobotoRegular/roboto-v18-latin-regular.eot') /* IE9 Compat Modes */
//  src: local('Roboto'), local('Roboto-Regular'),
//  url('../fonts/RobotoRegular/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../fonts/RobotoRegular/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../fonts/RobotoRegular/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
//  url('../fonts/RobotoRegular/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../fonts/RobotoRegular/roboto-v18-latin-regular.svg#Roboto') format('svg') /* Legacy iOS */
//
//
///* roboto-700 - latin */
//@font-face
//  font-family: 'RobotoBold'
//  font-style: normal
//  font-weight: 700
//  src: url('../fonts/RobotoBold/roboto-v18-latin-700.eot') /* IE9 Compat Modes */
//  src: local('Roboto Bold'), local('Roboto-Bold'),
//  url('../fonts/RobotoBold/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../fonts/RobotoBold/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../fonts/RobotoBold/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
//  url('../fonts/RobotoBold/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('../fonts/RobotoBold/roboto-v18-latin-700.svg#Roboto') format('svg') /* Legacy iOS */


@font-face
  font-family: 'panton'
  font-style: normal
  font-weight: normal
  src: url('../fonts/panton.woff2') format('woff2') /* Super Modern Browsers */
  src: url('../fonts/panton.woff') format('woff') /* Modern Browsers */

@font-face
  font-family: 'pantonbold'
  font-style: normal
  font-weight: normal
  src: url('../fonts/panton-bold.woff2') format('woff2') /* Super Modern Browsers */
  src: url('../fonts/panton-bold.woff') format('woff') /* Modern Browsers */

@font-face
  font-family: 'pantonsemibold'
  font-style: normal
  font-weight: normal
  src: url('../fonts/panton-semibold.woff2') format('woff2') /* Super Modern Browsers */
  src: url('../fonts/panton-semibold.woff') format('woff') /* Modern Browsers */
  src: url('../fonts/panton-semibold.ttf') format('truetype') /* Safari, Android, iOS */



