//@import '_mixins'
//@import '_fonts' //Подключаем шрифті
//@import '_functions' //Преобразование пикселей в rem на основе переменной с базовым размером шрифта.
//@import '_variables.sass' //Выставить переменные как в бутстрап
//@import '_colors.sass' //Стандартные цвета как в бутстрап
//@import '_default' //Стандартные из Boilerplates template
//@import 'bootstrap_custom'
//Если нужно кастомизировать бустрап - стили scss - писать сюда
@import "custom-variables"
@import "fonts"


//подключаем блоки стандартные, которые нужны
@import '../standart_blocks/burger/burger'

/*custom start*/
@import '../../source/blocks/**/*'
//@import '_media' // Всегда в конце


body
  color: #6e6e6e
  font-size: 16px
  min-width: 320px
  font-family: panton, sans-serif


.container
  max-width: 1170px
  margin-left: auto
  margin-right: auto
  @media (max-width: 1199px)
    max-width: 1023px
  @media (max-width: 1023px)
    max-width: 767px
  @media (max-width: 767px)
    max-width: 575px
  @media (max-width: 575px)
    max-width: 100%
    padding-left: 18px
    padding-right: 18px

h3
  font-family: pantonbold
  font-size: 28px
  text-align: center
  color: $dark-blue-text
  margin-top: 70px
  margin-bottom: 70px
  @media (max-width: 767px)
    font-size: 24px
    margin-top: 20px
    margin-bottom: 20px
  span
    color: $lightblue-text

.btn
  display: block
  font-family: pantonbold
  font-size: 18px
  background: linear-gradient(to top, #fe6732 0%, #fb8050 100%)
  width: 210px
  height: 40px
  border-radius: 50px
  text-align: center
  line-height: 38px
  text-decoration: none
  color: #ffffff
  margin-left: auto
  margin-right: auto
  border: 2px solid #fe6935
  transition: all .4s
  cursor: pointer
  &:hover
    background: #FFFFFF
    color: #fe6935


form
  input,
  textarea
    margin-left: auto
    margin-right: auto
    width: 375px
    display: block
    margin-bottom: 25px
    background-repeat: 25px
    height: 50px
    text-align: center
    background: #68b9e2
    border-radius: 50px
    border: 2px solid #ffffff
    color: #ffffff
    font-family: pantonsemibold, sans-serif
    font-size: 18px
  input.white-input,
  textarea.white-input
    background: #ffffff
    border: 1px solid #136fc8
    font-size: 14px
    color: #000000
  .checkbox
    display: none
    /* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
  .checkbox-custom
    position: relative      // Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 15px             // Обязательно задаем ширину */
    height: 15px            // Обязательно задаем высоту */
    border: 2px solid #ffffff
    border-radius: 3px
    @media (max-width: 767px)
      width: 13px
      height: 13px
  .checkbox-custom-blue
    border: 2px solid $lightblue-text
  .checkbox-custom,
  .label
    display: inline-block
    vertical-align: middle
    /* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
  .checkbox:checked + .checkbox-custom::before
    content: ""             //* Добавляем наш псевдоэлемент */
    display: block // Делаем его блочным элементом */
    position: absolute      //* Позиционируем его абсолютным образом */
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 3px
    right: 3px
    bottom: 3px
    left: 3px
    background: #ffffff     //* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px
  .checkbox:checked + .checkbox-custom-blue::before
    background: $lightblue-text
  .label
    padding-left: 10px
    font-family: pantonsemibold
    font-size: 18px


nav
  ul
      list-style: none
      display: flex
      justify-content: space-between
      height: 50px
      padding-left: 0
      li
        position: relative
        line-height: 50px
        width: 100%
        background-color: auto
        transition: all .4s
        &:first-of-type
          border-radius: 50px 0 0 50px
        &:last-of-type
          border-radius: 0 50px 50px 0
        &:hover ul
          visibility: visible
          opacity: 1
        a
          text-decoration: none
          color: #ffffff
          font-size: 16px
          font-family: pantonbold, sans-serif
          letter-spacing: 1.6px
          display: block
          text-align: center
          white-space: nowrap
          @media (max-width: 1023px)
            font-size: 14px
            letter-spacing: normal
            font-family: pantonsemibold, sans-serif
        &:hover
          background-color: $main-yellow
        ul
          display: block
          position: absolute
          top: 40px
          transition: all .4s
          min-width: 200px
          width: auto
          height: auto
          padding: 10px 30px
          border: 2px solid #3b8ad5
          box-sizing: border-box
          background-color: #fff
          border-radius: 8px
          z-index: 1
          visibility: hidden
          opacity: 0
          &:hover li
            background-color: #ffffff
          li
            background-color: #ffffff
            width: 100%
            border-bottom: 1px solid #f9f9f9
            border-radius: 0!important
            &:hover a
              color: $main-yellow
            &:last-of-type
              border-bottom: none!important
            a
              color: #6e6e6e
              font-family: pantonsemibold, sans-serif
              text-align: left
              display: block
              line-height: 50px
              white-space: nowrap
      img
        position: absolute
        right: 15px
        top: 23px
        @media (max-width: 1199px)
          right: 10px
        @media (max-width: 1023px)
          right: 5px

#formSendPopup
  position: absolute
  background-color: #ffffff
  border: 3px solid #1e90ff
  width: 500px
  min-height: 300px
  text-align: center
  border-radius: 15px
  padding: 50px 90px 60px 90px
  box-sizing: border-box
  display: block
  transition: all .4s
  z-index: 10
  left: 50%
  bottom: 50px
  transform: translate(-50%,0%)
  @media (max-width: 767px)
    width: 90%
    min-height: auto
  @media (max-width: 500px)
    padding: 20px 50px
  p
    margin-bottom: 30px
    font-family: pantonbold, sans-serif!important
    font-size: 28px
    margin-top: 0
    @media (max-width: 767px)
      font-size: 18px
  img
    position: absolute
    right: 15px
    top: 15px
    cursor: pointer
  .btn
    @media (max-width: 500px)
      width: 100%
.hidden
  display: none!important
.visuallyhidden
  opacity: 0

.main-page-newsletter__sircle
    position: absolute
    top: 70px
    background-color: #68b9e2
    height: 1500px //TODO change on other sizes
    width: 130%
    border-radius: 50%
    z-index: -1
    margin-left: 50%
    transform: translateX(-50%)
    @media (max-width: 1023px)
      height: 1000px
    @media (max-width: 767px)
      height: 700px
      width: 140%
    @media (max-width: 575px)
      width: 150%
    @media (max-width: 400px)
      width: 200%

.contacts-page__form-block
  form
    display: flex
    flex-wrap: wrap
    color: #136fc8
    font-family: pantonsemibold
    font-size: 18px
    @media (max-width: 1023px)
      flex-direction: column
    @media (max-width: 767px)
      font-size: 16px
    input
      text-align: left
      padding-left: 30px
      padding-right: 30px
      width: 315px
      &::-webkit-input-placeholder
        color: #136fc8
      &::-moz-placeholder
        color: #136fc8
      @media (max-width: 767px)
        width: 100%
        box-sizing: border-box
        height: 40px
    textarea
      text-align: left
      padding: 30px
      min-height: 100px
      border-radius: 25px
      &::-webkit-input-placeholder
        color: #136fc8
      &::-moz-placeholder
        color: #136fc8
      @media (max-width: 767px)
        width: 100%
        box-sizing: border-box
    .btn
      width: 377px
      height: 50px
      position: absolute
      bottom: 115px
      margin-left: 46px
      @media (max-width: 1199px)
        margin-left: 8px
      @media (max-width: 1023px)
        position: static
        margin-left: auto
      @media (max-width: 767px)
        font-size: 16px
        height: 40px
        width: 100%