section.main-page-unser
  background-color: $lightblue-background
  padding-top: 70px
  padding-bottom: 70px
  @media (max-width: 767px)
    padding-top: 0
    padding-bottom: 0
  .main-page-unser__inside-wrapper
    display: flex
    justify-content: space-between
    padding: 0 100px
    background-image: linear-gradient( rgba(255, 255, 255, 0.7)), url('../img/unser-bg.png')
    background-repeat: no-repeat
    background-size: auto 100%
    position: relative
    border-radius: 25px
    overflow: hidden
    @media (max-width: 1023px)
      padding: 0 50px
      flex-direction: column
    @media (max-width: 767px)
      border-radius: 0
      flex-wrap: wrap
    @media (max-width: 500px)
      padding: 0 20px
    .main-page-unser__info-block
      max-width: 50%
      @media (max-width: 1023px)
        max-width: 100%
        text-align: center
      @media (max-width: 767px)
        max-width: 100%
      h2
        color: $lightblue-text
        font-family: pantonbold, sans-serif
        font-size: 36px
        margin-bottom: 50px
        margin-top: 50px
        @media (max-width: 767px)
          font-size: 24px
          margin-bottom: 20px
      p
        font-family: pantonsemibold, sans-serif
        font-size: 16px
        line-height: 30px
        @media (max-width: 767px)
          font-size: 14px
          line-height: 24px
    .main-page-unser__form-block
      min-height: 100%
      background-color: #fff
      padding: 60px 40px 30px
      @media (max-width: 1023px)
        background-color: transparent
        padding-top: 20px
      @media (max-width: 576px)
        padding-left: 0
        padding-right: 0


      form
        margin-left: auto
        margin-right: auto
        h6
          font-family: pantonbold
          font-size: 24px
          color: $dark-blue-text
          text-align: center
          margin: 0 0 30px 0
          @media (max-width: 767px)
            font-size: 22px
        input
          width: 320px
          @media (max-width: 1023px)
            height: 40px
          @media (max-width: 575px)
            width: 100%




