section.main-page-unser
  .container
    .main-page-unser__inside-wrapper
      .main-page-unser__info-block
        h2 Unser Angebot
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodoLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Angebot zum Thema Datenschutz
      .main-page-unser__form-block
        form
          h6 Vereinbaren Sie einen Termin
          input(type="text" placeholder="Ihr Name").white-input
          input(type="text" placeholder="Telefon").white-input
          input(type="text" placeholder="Email").white-input
          button.btn Angebot sichern


