nav.container
    ul
      li
        a(href="#wieman") Wie funktioniert es
      li
        a(href="#") Dienstleistungen
        img(src="img/icons/menu-arrow.svg")
        ul
          li
            a(href="#beratung") Betriebswirtschaftliche Beratung
          li
            a(href="#finanzierungen") Finanzierungen
          li
            a(href="#energieversorgung") Energieversorgung
          li
            a(href="#versicherungen") Versicherungen
          li
            a(href="#praxiseinrichtung") Praxiseinrichtung
          li
            a(href="#einrichtung") Hard- und software Einrichtung
          li
            a(href="#immobilien") Immobilien
          li
            a(href="#auftritt") Online Auftritt
          li
            a(href="#kassensitz") Kassensitz/KV
      li
        a(href="#") Bewertungen
      li
        a(href="#") Über uns
      li
        a(href="contacts.html") Kontakt