.main-page-kompetenzen
  a
    text-decoration: none
  h1
    font-size: 28px
    color: $dark-blue-text
    font-family: pantonbold, sans-serif
    text-align: center
    margin-top: 0
    margin-bottom: 60px
    @media (max-width: 767px)
      font-size: 24px
      margin-bottom: 30px
  .main-page__kompetenzen-items-wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .main-page__kompetenzen-item-wrapper
      .main-page__kompetenzen-item
        display: flex
        align-items: center
        margin-bottom: 25px
        font-family: pantonsemibold, sans-serif
        font-size: 18px
        color: $dark-blue-text
        cursor: pointer
        border: 1px solid #ffffff
        border-radius: 50px
        width: 370px
        padding: 5px
        @media (max-width: 767px)
          font-size: 15px
          margin-bottom: 0
        @media (max-width: 420px)
          width: 320px
        @media (max-width: 370px)
          width: 300px
        @media (max-width: 330px)
          width: 280px
        &:hover
          border: 1px solid #e8e8e8
        &:hover .main-page__kompetenzen-item-img
          background: url('../img/icons/4-white.png') center no-repeat #1e90ff
          background-size: 30px
          border: 5px solid #dfefff
        &:hover .main-page__kompetenzen-item-img-2
          background: url('../img/icons/6-white.png') center no-repeat #1e90ff
          background-size: 30px
        &:hover .main-page__kompetenzen-item-img-3
          background: url('../img/icons/1-white.png') center no-repeat #1e90ff
          background-size: 30px
        &:hover .main-page__kompetenzen-item-img-4
          background: url('../img/icons/5-white.png') center no-repeat #1e90ff
          background-size: 30px
        &:hover .main-page__kompetenzen-item-img-5
          background: url('../img/icons/7-white.png') center no-repeat #1e90ff
          background-size: 30px
        &:hover .main-page__kompetenzen-item-img-6
          background: url('../img/icons/2-white.png') center no-repeat #1e90ff
          background-size: 30px
        &:hover .main-page__kompetenzen-item-img-7
          background: url('../img/icons/8-white.png') center no-repeat #1e90ff
          background-size: 30px
        &:hover .main-page__kompetenzen-item-img-8
          background: url('../img/icons/9-white.png') center no-repeat #1e90ff
          background-size: 30px
        &:hover .main-page__kompetenzen-item-img-9
          background: url('../img/icons/3-white.png') center no-repeat #1e90ff
          background-size: 30px
        .main-page__kompetenzen-item-img
          height: 60px
          min-width: 60px
          border-radius: 50%
          background: url('../img/icons/4.png') center no-repeat #f6f9ff
          background-size: 30px
          border: 5px solid #ffffff
          box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.02)
          transition: all .4s
        .main-page__kompetenzen-item-text
          margin-left: 15px
        .main-page__kompetenzen-item-img-2
          background: url('../img/icons/6.png') center no-repeat #f6f9ff
          background-size: 30px
        .main-page__kompetenzen-item-img-3
          background: url('../img/icons/1.png') center no-repeat #f6f9ff
          background-size: 30px
        .main-page__kompetenzen-item-img-4
          background: url('../img/icons/5.png') center no-repeat #f6f9ff
          background-size: 30px
        .main-page__kompetenzen-item-img-5
          background: url('../img/icons/7.png') center no-repeat #f6f9ff
          background-size: 30px
        .main-page__kompetenzen-item-img-6
          background: url('../img/icons/2.png') center no-repeat #f6f9ff
          background-size: 30px
        .main-page__kompetenzen-item-img-7
          background: url('../img/icons/8.png') center no-repeat #f6f9ff
          background-size: 30px
        .main-page__kompetenzen-item-img-8
          background: url('../img/icons/9.png') center no-repeat #f6f9ff
          background-size: 30px
        .main-page__kompetenzen-item-img-9
          background: url('../img/icons/3.png') center no-repeat #f6f9ff
          background-size: 30px

