section.main-page-kompetenzen.container
  h1 Unsere Kompetenzen
  .main-page__kompetenzen-items-wrapper
    a(href="product.html").main-page__kompetenzen-item-wrapper
      .main-page__kompetenzen-item#beratung
        .main-page__kompetenzen-item-img
        .main-page__kompetenzen-item-text Betriebswirtschaftliche Beratung
    a(href="product.html").main-page__kompetenzen-item-wrapper#finanzierungen
      .main-page__kompetenzen-item.main-page__kompetenzen-item-2
        .main-page__kompetenzen-item-img.main-page__kompetenzen-item-img-2
        .main-page__kompetenzen-item-text Finanzierungen
    a(href="product.html").main-page__kompetenzen-item-wrapper#energieversorgung
      .main-page__kompetenzen-item.main-page__kompetenzen-item-3
        .main-page__kompetenzen-item-img.main-page__kompetenzen-item-img-3
        .main-page__kompetenzen-item-text Energieversorgung
    a(href="product.html").main-page__kompetenzen-item-wrapper#versicherungen
      .main-page__kompetenzen-item.main-page__kompetenzen-item-4
        .main-page__kompetenzen-item-img.main-page__kompetenzen-item-img-4
        .main-page__kompetenzen-item-text Versicherungen
    a(href="product.html").main-page__kompetenzen-item-wrapper#praxiseinrichtung
      .main-page__kompetenzen-item.main-page__kompetenzen-item-5
        .main-page__kompetenzen-item-img.main-page__kompetenzen-item-img-5
        .main-page__kompetenzen-item-text Praxiseinrichtung
    a(href="product.html").main-page__kompetenzen-item-wrapper#einrichtung
      .main-page__kompetenzen-item.main-page__kompetenzen-item-6
        .main-page__kompetenzen-item-img.main-page__kompetenzen-item-img-6
        .main-page__kompetenzen-item-text Hard- und software Einrichtung
    a(href="product.html").main-page__kompetenzen-item-wrapper#immobilien
      .main-page__kompetenzen-item.main-page__kompetenzen-item-7
        .main-page__kompetenzen-item-img.main-page__kompetenzen-item-img-7
        .main-page__kompetenzen-item-text Immobilien
    a(href="product.html").main-page__kompetenzen-item-wrapper#auftritt
      .main-page__kompetenzen-item.main-page__kompetenzen-item-8
        .main-page__kompetenzen-item-img.main-page__kompetenzen-item-img-8
        .main-page__kompetenzen-item-text Online Auftritt
    a(href="product.html").main-page__kompetenzen-item-wrapper#kassensitz
      .main-page__kompetenzen-item.main-page__kompetenzen-item-9
        .main-page__kompetenzen-item-img.main-page__kompetenzen-item-img-9
        .main-page__kompetenzen-item-text Kassensitz/KV