
script(src='js/jquery.min.js')
//script(src='js/jquery-ui/jquery-ui.min.js')
script(src='js/html5shiv/html5shiv.min.js')
//script(src='js/animate/animate-css.js')
//script(src='js/popper.min.js')
//script(src='js/bootstrap.min.js')
//script(src='js/fontawesome-pro-5.0.8/fontawesome-all.min.js')
//script(src='js/modernizr/modernizr-custom.js')
//script(src='js/owl.carousel.min.js')
//script(src='js/lightslider.min.js')
//script(src='js/slick.min.js')
//script(src='js/ScrollMagic.min.js')
//script(src='js/debug.addIndicators.min.js')
//script(src='js/TweenMax.min.js')
//script(src='js/wow.min.js')


script(src='js/main.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBkOvWn2e6J2V7aRWCIJvmTT9g1nF9BOlA&callback=initMap' async='' defer='')
