section.main-page-vereinbaren.container#tocalendar
  h2#beratungs Beratungstermin <span>vereinbaren</span>
  .main-page-vereinbaren__calculator-wrapper
    form(action="")
      ol
        li Wählen Sie die Art von Besprechung, die für Sie geeignet ist
          .main-page-vereinbaren__checkbox-wrapper
            label
              input(type="radio" name="oneToCheck" value="ÜberSkype").checkbox
              span.checkbox-custom.checkbox-custom-blue
              span.label Über Skype
            label
              input(type="radio" name="oneToCheck" value="KomminsBüro").checkbox
              span.checkbox-custom.checkbox-custom-blue
              span.label Komm ins Büro
            label
              input(type="radio" name="oneToCheck" value="EinenBerater").checkbox
              span.checkbox-custom.checkbox-custom-blue
              span.label Einen Berater anrufen
            label
              input(type="radio" name="oneToCheck" value="Telefonisch").checkbox
              span.checkbox-custom.checkbox-custom-blue
              span.label Telefonisch
        li Wählen Sie das freie Datum und die Uhrzeit des Meetings aus. Füllen Sie auch die Felder des Kontaktformulars aus
          .main-page-vereinbaren__calendar-infoform-wrapper
            .main-page-vereinbaren__calendar-wrapper
              img(src="img/calendar.png", alt="wp calendar will be here" )
            .main-page-vereinbaren__infoform-wrapper
              h6 Sie haben das Datum ausgewählt: <span>29. März.</span> Zeit: <span>12:00</span>
              .main-page-vereinbaren__infoform-input-wrapper
                input(type="text" placeholder="Title").white-input
                input(type="text" placeholder="Thema").white-input
                input(type="text" placeholder="Name").white-input
                input(type="text" placeholder="Email/Skype").white-input
                input(type="text" placeholder="Telefon").white-input
                input(type="text" placeholder="Fachtichtung").white-input
              button.btn Termin sichern

  #formSendPopup.visuallyhidden.hidden
    p Ваша заявка отправлена, мы свяжемся с вами в ближайшее время
    .btn Ok
    img(src="img/icons/blue-close.png" alt="close")