section.main-page-vereinbaren
  position: relative
  h2
    font-family: pantonbold, semi-bold
    font-size: 28px
    color: $dark-blue-text
    text-align: center
    margin-top: 50px
    margin-bottom: 65px
    @media (max-width: 767px)
      font-size: 24px
      margin-top: 30px
    margin-bottom: 30px
    span
      color: $lightblue-text
  .main-page-vereinbaren__calculator-wrapper
    border-radius: 25px
    border: 1px solid #b5caff
    padding: 40px
    @media (max-width: 767px)
      border: none
      padding: 0
      margin-bottom: 40px
    form
      ol
        padding-left: 20px
        margin: 0
        color: $dark-blue-text
        font-size: 20px
        @media (max-width: 767px)
          font-size: 16px
        li:first-of-type
          margin-bottom: 20px
          @media (max-width: 767px)
            margin-bottom: 0
        .main-page-vereinbaren__checkbox-wrapper
          margin-top: 20px
          label
            margin-right: 25px
            display: inline-block
            margin-bottom: 20px
            span
              color: $lightblue-text
              font-size: 18px
              @media (max-width: 767px)
                font-size: 16px
        .main-page-vereinbaren__calendar-infoform-wrapper
          display: flex
          justify-content: space-between
          padding-top: 40px
          margin-left: -20px
          @media (max-width: 1023px)
            flex-direction: column
            padding-top: 20px
          .main-page-vereinbaren__calendar-wrapper
            width: 50%
            @media (max-width: 1023px)
              width: 100%
            img
              max-width: 100%
          .main-page-vereinbaren__infoform-wrapper
            width: 50%
            color: $lightblue-text
            @media (max-width: 1023px)
              width: 100%
            h6
              font-size: 21px
              font-family: pantonbold, sans-serif
              margin: 0 0 30px 0
              @media (max-width: 1199px)
                font-size: 18px
                margin-top: 20px
                text-align: center
              span
                color: $main-yellow
            .main-page-vereinbaren__infoform-input-wrapper
              display: flex
              flex-wrap: wrap
              input
                width: 45%
                height: 40px
                @media (max-width: 630px)
                  width: 100%



