section.main-page-furwen.container
  h3  Für wen sind unsere Dienstleistungen nützlich?
  .main-page-furwen__items-wrapper
    .main-page-furwen__item
      .main-page-furwen__item-header
        img(src="img/icons/furwen-1.png", alt="Student")
        span Student
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
    .main-page-furwen__item
      .main-page-furwen__item-header
        img(src="img/icons/furwen-2.png", alt="Praktizierende")
        span Praktizierende
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
    .main-page-furwen__item
      .main-page-furwen__item-header
        img(src="img/icons/furwen-3.png", alt="Medizinisches Personal")
        span Medizinisches Personal
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet
    .main-page-furwen__item
      .main-page-furwen__item-header
        img(src="img/icons/furwen-4.png", alt="Ärztin")
        span Ärztin
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet