section.main-page-furwen
  .main-page-furwen__items-wrapper
    display: flex
    text-align: center
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 30px
    @media (max-width: 767px)
      margin-bottom: 0
    .main-page-furwen__item
      flex-grow: 1
      margin-bottom: 40px
      @media (max-width: 767px)
        margin-bottom: 25px
      .main-page-furwen__item-header
        font-family: pantonsemibold
        font-size: 24px
        line-height: 24px
        @media (max-width: 767px)
          font-size: 22px
        span
          display: inline-block
          vertical-align: 3px
          padding-left: 3px
      p
        font-size: 15px
        line-height: 24px
        font-family: pantonsemibold
        max-width: 190px
        margin-left: auto
        margin-right: auto
        margin-top: 20px
        margin-bottom: 0
