section.contacts-page-stellen
  .contacts-page__block-wrapper.container
    h1  Stellen Sie <span>uns Ihre Fragen</span>
    .contacts-page__form-block
      form
        input(type="email" placeholder="Email").white-input
        textarea(placeholder='Deine Frage').white-input
        button.btn Eine Frage stellen