section.contacts-page-stellen
  margin-top: 70px
  position: relative
  margin: 70px 0 0
  @media (max-width: 767px)
    margin: 35px 20px 0
  h1
    font-size: 28px
    color: $dark-blue-text
    font-family: pantonbold, sans-serif
    text-align: center
    margin-top: 0
    margin-bottom: 60px
    @media (max-width: 767px)
      font-size: 24px
      margin-bottom: 20px
    span
      color: $lightblue-text
  .contacts-page__block-wrapper
    border-radius: 10px
    width: 100%
    background-image: linear-gradient( rgba(255, 255, 255, 0.7)), url('../img/unser-bg.png')
    background-repeat: no-repeat
    background-size: 100% auto
    padding: 70px 90px 90px 90px
    box-sizing: border-box
    @media (max-width: 1023px)
      background-size: auto 100%
    @media (max-width: 767px)
      padding: 40px
    @media (max-width: 400px)
      padding: 20px
    // .contacts-page__form-block
    //   form
    //     display: flex
    //     flex-wrap: wrap
    //     color: #136fc8
    //     font-family: pantonsemibold
    //     font-size: 18px
    //     @media (max-width: 1023px)
    //       flex-direction: column
    //     @media (max-width: 767px)
    //       font-size: 16px
    //     input
    //       text-align: left
    //       padding-left: 30px
    //       padding-right: 30px
    //       width: 315px
    //       &::-webkit-input-placeholder
    //         color: #136fc8
    //       &::-moz-placeholder
    //         color: #136fc8
    //       @media (max-width: 767px)
    //         width: 100%
    //         box-sizing: border-box
    //         height: 40px
    //     textarea
    //       text-align: left
    //       padding: 30px
    //       min-height: 100px
    //       border-radius: 25px
    //       &::-webkit-input-placeholder
    //         color: #136fc8
    //       &::-moz-placeholder
    //         color: #136fc8
    //       @media (max-width: 767px)
    //         width: 100%
    //         box-sizing: border-box
    //     .btn
    //       width: 377px
    //       height: 50px
    //       position: absolute
    //       bottom: 115px
    //       margin-left: 46px
    //       @media (max-width: 1199px)
    //         margin-left: 8px
    //       @media (max-width: 1023px)
    //         position: static
    //         margin-left: auto
    //       @media (max-width: 767px)
    //         font-size: 16px
    //         height: 40px
    //         width: 100%

