footer.main-page-footer
  include ../nav/nav
  .container
    .main-page-footer__last-part
      .main-page-footer__img-wrapper
        .main-page-footer__img
          img(src="img/icons/white-footer-logo.png", alt="white logo")
        a(href="#") Impressum Datenschutz
      .main-page-footer__links-wrapper
        h6 Dienstleistungen
        .main-page-footer__two-column-links-wrapper
          .main-page-footer__two-column-left-link
            ul
              li
                a(href="#") Betriebswirtschaftliche Beratung
              li
                a(href="#") Finanzierungen
              li
                a(href="#") Energieversorgung
              li
                a(href="#") Steuerberater/Anwälte/Notar
              li
                a(href="#") Versicherungen
              li
                a(href="#") Praxiseinrichtung
          .main-page-footer__two-column-right-link
            ul
              li
                a(href="#") Hard- und software Einrichtung
              li
                a(href="#") Praxisbörge (suche/abgabe)
              li
                a(href="#") Immobilien
              li
                a(href="#") Online Auftritt
              li
                a(href="#") Kassensitz/KV
              li
                a(href="#") Ruhestandsplanung
      .main-page-footer__contacts-wrapper
        .btn Rückruf
        .main-page-footer__contact
          a(href="tel:+4917681401811") +49(176) 81401811
          img(src="img/icons/white-phone.png", alt="+49(176) 81401811")
        .main-page-footer__contact
          a(href="tel:+4922199379931") +49(221) 99379931
          img(src="img/icons/white-phone.png", alt="+49(221) 99379931")
        .main-page-footer__contact
          a(href="mailto:kc-nordrhein.de?subject=mail from web site") kc-nordrhein.de
          img(src="img/icons/white-email.png", alt="kc-nordrhein.de")
        .main-page-footer__contact
          a(href="https://goo.gl/maps/YEbkVV7BadJ2" target='_blank') Koblenzer Straße 88, 50968 Köln
          img(src="img/icons/white-map.png", alt="kc-nordrhein.de").white-map-img
        .main-page-footer__contact
          a(href="skype:+4917681401811") +49(176) 81401811
          img(src="img/icons/white-skype.png", alt="kc-nordrhein.de")
        .main-page-footer__contact
          a(href="whatsapp://send?phone=+4922199379931") +49(221) 99379931
          img(src="img/icons/white-whatsup.png", alt="kc-nordrhein.de")



