footer
  background-color: #63b3dd
  background-color: #68b9e2
  nav
    ul
      margin: 0
      @media (max-width: 767px)
        flex-direction: column
        height: auto
      li
        border-bottom: none
        img
          @media (max-width: 767px)
            display: none
        a
          color: #ffffff
          @media (max-width: 997px)
            font-size: 16px
        &:hover a
          color: $main-yellow
          border-bottom: 2px solid $main-yellow
        a
          border-bottom: 2px solid #ffffff
          display: inline-block
          margin-left: 50%
          transform: translateX(-50%)
          color: #ffffff
          transition: all 0.4s
        &:first-of-type
          border-radius: 0
        &:last-of-type
          border-radius: 0
        &:hover
          background-color: transparent
        ul
          @media (max-width: 767px)
            display: none!important
          li
            a
              line-height: 2
              display: block
              margin-left: 0
              transform: translateX(0)
              color: $text!important
              border-bottom: none!important
              transition: all 0.4s
              &:hover
                color: $main-yellow!important
                //border-bottom: 1px solid $main-yellow!important
  .main-page-footer__last-part
    margin-top: 120px
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding-bottom: 40px
    @media (max-width: 767px)
      margin-top: 40px
      flex-direction: column
    .main-page-footer__img-wrapper
      flex-grow: 1
      @media (max-width: 1199px)
        display: none
      a:last-of-type
        display: block
        margin-top: 15px
        color: #ffffff
        font: 14px
        text-decoration: none
        transition: all 0.4s
        &:hover
          color: $main-yellow!important
      .main-page-footer__img
        display: inline-block
        padding-bottom: 20px
        border-bottom: 1px solid #92cae7
    .main-page-footer__links-wrapper
      flex-grow: 1
      @media (max-width: 767px)
        width: 100%
      h6
        font-family: pantonbold
        font-size: 18px
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 1px solid #92cae7
        color: #ffffff
        letter-spacing: 1.8px
        display: inline-block
        margin-top: 0
        @media (max-width: 767px)
          //margin-left: 50%
          //transform: translateX(-50%)
          width: 100%
          text-align: center
      .main-page-footer__two-column-links-wrapper
        display: flex
        justify-content: space-between
        @media (max-width: 767px)
          text-align: center
        @media (max-width: 500px)
          flex-direction: column



        .main-page-footer__two-column-left-link

        .main-page-footer__two-column-right-link

        ul
          margin: 0
          padding: 0
          list-style: none
          li
            a
              text-decoration: none
              color: #ffffff!important
              font-family: pantonsemibold
              font-size: 16px
              line-height: 30px
              transition: all 0.4s
              @media (max-width: 767px)
                font-size: 14px
              &:hover
                color: $main-yellow!important
    .main-page-footer__contacts-wrapper
      flex-grow: 1
      @media (max-width: 767px)
        width: 100%
      .btn
        width: 115px
        margin-bottom: 30px
        margin-right: 0
        @media (max-width: 767px)
          margin-right: auto
          margin-top: 25px
      .main-page-footer__contact
        text-align: right
        @media (max-width: 767px)
          text-align: center
        .white-map-img
          margin-right: -5px
          margin-left: -5px
        a
          text-decoration: none
          color: #ffffff
          font-family: pantonsemibold
          font-size: 20px
          line-height: 33px
          padding-right: 10px
          transition: all 0.4s
          @media (max-width: 767px)
            font-size: 18px
          &:hover
            color: $main-yellow!important
